.rodape{
    float: left;    
    margin-top: 0;    
    background-color:#00dbe0;
    display: block;
    width:100%;

}
.Contato{
    color: white;
    text-shadow: 0.5px 0.5px black;
    padding-left: 1%;
}
.Right{
    background-color:#289E97;
    padding: 0.5%;
    text-align: center;
    color: white;
    margin-bottom: auto;
}