
/*Menu*/

.Menu{
    background-color:#00dbe0;
    height: 1500px;
}
.Dev{
    color: black;
    text-shadow: 2px 2px #cdd3d8;
    margin-top: -270px;
    padding-left: 6%;
    font-size: 45px;
    line-height: 6.5;
}
.Perfil{
    border-radius: 50%;
    border: solid 2px white;
    width: 150px;
    margin-left: 610px;
    margin-top: 1%;
}
.Social{
    list-style-type: none;
    display: flex;
    margin-left: 42%;
    margin-top: -8%;
}
.Social img{
    width: 50px;
}
.Home ul{
    list-style-type: none;
    display: flex;
    margin-left: 70%;
    margin-top: -12%;}
.Home ul li a{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 3ex;
    transition: .4s;
}
.Home ul li a:hover{
    color: #289E97;
}

/*Serviços*/
.Servicos{
    background-color: white;
    height: 155px;
    text-align: center;
    margin-top: 10%;
}
.Servicos-Titulo{
    color: black;
    text-shadow: 3px 3px #cdd3d8;
    padding-left: 1%;
    font-size: 50px;
}

/*Serviços*/
.Links-Imagens{

}


/*Sobre*/
.Sobre{
    background-color: white;
    height: 500 px;
    text-align: center;
    margin-top: 10%;
}
.Sobre-Titulo{
    color: black;
    text-shadow: 3px 3px #cdd3d8;
    padding-left: 1%;
    font-size: 50px;
}



/*Rodape*/
.rodape{
    float: left;    
    margin-top: 0;    
    background-color:#00dbe0;
    height: 250px;
    display: block;
    width:100%;}
.Contato{
    color: white;
    text-shadow: 1px 1px black;
    padding-left: 1%;
    font-size: 25px;
}
.Atendimento{
    color: black;
    font-weight: bold;
    padding-left: 1%;
    font-size: 20px;
}
.Right{
    background-color:#289E97;
    padding: 0.3%;
    text-align: center;
    color: white;
    margin-bottom: auto;}